.git
.gitignore
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd

debate.db
temp
backend/uploads
backend/static

frontend/node_modules
frontend/dist
frontend-new/node_modules
frontend-new/dist

unit_test
docs
overall.md
